:root {
  --verde: #6cb15d;

  --verde-hover: #5aa34b;

  --gris-fondo: #f3f3f3;

  --blanco: #ffffff;

  --borde: #dcdcdc;

  --texto: #333333;

  --rojo: #e45745;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--gris-fondo);
  overflow-x: hidden;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--verde);
  color: var(--blanco);
  font-size: 20px;
  padding: 20px;
}

.contenedor {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.contenedor h2 {
  text-align: start;
  color: var(--verde);
}
/*Apartado productos*/
.productos {
  flex: 3;
  background-color: var(--blanco);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.contenedor-producto {
  border: 2px solid var(--borde);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  background-color: var(--gris-fondo);
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.precio-producto {
  color: var(--verde);
  font-weight: bold;
}

.btn-agregar {
  background-color: var(--verde);
  color: var(--blanco);
  border: none;
  border-radius: 10px;
  width: 140px;
  height: 50px;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: var(--verde-hover);
}

/*Apartado carrito*/

.carrito {
  flex: 1;
  border-radius: 10px;
  background-color: var(--blanco);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-carrito {
  background-color: var(--rojo);
  color: var(--blanco);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 16px;
}

.btn-carrito:hover {
  background-color: #cc3f2e;
}

.producto-carrito {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--borde);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  background-color: var(--gris-fondo);
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.producto-carrito p {
  color: var(--verde);
  font-weight: bold;
  font-size: 20px;
}

.carrito p {
  font-weight: bold;
  text-align: end;
}

/*Nuevo boton*/

.nuevo-boton {
  display: flex;

  flex-direction: column;

  align-items: center;

  text-align: center;

  gap: 20px;
}

#btn-sorpresa {
  border: none;
  background-color: var(--verde);
  color: var(--blanco);
  border-radius: 10px;
  width: 100%;
  height: 50px;
  font-size: 16px;
}

#btn-sorpresa:hover {
  background-color: var(--verde-hover);
}

#info:not(.oculto) {

  display: flex;

  flex-direction: column;

  align-items: center;

  text-align: center;

}
.oculto {
  display: none;
}

/*Estilos para imagen*/

.nuevo-boton img {
  width: 100%;

  max-width: 300px;

  height: auto;

  padding: 20px;

  object-fit: contain;
}

#info img {
  width: 100%;

  max-width: 300px;

  border-radius: 20px;

  height: auto;
}

/*Diseno responsivo*/

/*Telefonos*/

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }

  .productos,
  .carrito,
  .nuevo-boton {
    width: 100%;
    box-sizing: border-box;
  }

  .titulo {
    text-align: center;
    font-size: 15px;
  }

  .precio-producto {
    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;

    gap: 20px;
  }
}
